
//note(@duncanmid): common / light theme

body {
	
	text-align: center;
	padding: 0;
	background-image: var(--texture);
	
	header {
	
	height: 23px;
	background: var(--header);
	background-size: 100% 23px;
	border-bottom: 1px solid  var(--header-border);
	
	-webkit-app-region: drag;
	}
	
	main {
		
		padding: 10px 20px 0;
		height: 270px;
		
		figure {
			
			padding-bottom: 10px;
			
			img {
				
				-webkit-user-drag: none;
				-webkit-app-region: no-drag;
			}
		}
		
		h1 {
			
			font-size: 15px;
			margin-bottom: 20px;
			color: var(--text);
			font-weight: 700;
		}
		
		p {
			
			font-size: 13px;
			font-weight: 400;
			width: 160px;
			margin: 0 auto 15px;
			color: var(--text);
		}
		
		dl {
			
			font-size: 11px;
			line-height: 14px;
			margin-bottom: 15px;
			
			dt, dd {
				
				display: inline;
				color: var(--text);
			}
			
			dt {
				
				padding-right: 5px;
			}
			
			dd::after {
					
				display: block;
				content: '';
				white-space: pre-line;
			}
		}
		
		button {
			
			padding: 3px 14px;
			border: 1px solid var(--button-border);
			background: var(--button);
			background-clip: border-box;
			color: var(--button-color);
			border-radius: 5px;
			
			&:active {
				
				color: var(--button-color-hover);
				background-image: var(--button-hover);
				border: 1px solid;
				border-image: var(--button-border-hover);
				border-image-slice: 1;
			}
		}
	}
}


//note(@duncanmid): @2x

@media screen and (-webkit-min-device-pixel-ratio: 2) { 
	
	body {
		
		background-image: var(--texture2);
		background-size: 100px 100px;
	}
}


//note(@duncanmid): dark theme

[data-theme="dark"] {
	
	body {
		
		main {
			
			button {
				
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
				
				&:active {
					
					border: 1px solid var(--button-border-hover);
					border-left: 0;
					border-right: 0;
					border-bottom: 0;
				}
			}
		}
	}
}
