
//note(dgmid): common / light theme

header {
	
	padding: 10px 40px;
	background-color: var(--app-light);
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.scroll {
	
	position: fixed;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

form {
	
	padding: 20px 40px 0;
	
	ul {
		
		list-style-type: none;
		
		li {
			
			padding-bottom: 10px;
			
			label {
				
				display: block;
				float: left;
				width: 80px;
				text-align: right;
				padding-right: 10px;
				font-size: 13px;
				line-height: 28px;
				
				&::after {
					
					content: ':';
				}
				
				&[for="nocertificate"]::after {
					
					display: none;
				}
				
				svg {
					
					fill: var(--code-yellow-lt);
				}
			}
			
			input[type="url"],
			input[type="text"] {
				
				display: block;
				padding-left: 10px;
				padding-right: 28px;
				width: calc(100% - 80px);
				height: 28px;
				color: var(--input-color);
				background-color: var(--input-background);
				border: 1px solid var(--input-border);
				background-position: right 6px top 6px;
				background-repeat: no-repeat;
				
				transition: background-color .15s;
				
				&[required] {
				
					&:invalid:not(:placeholder-shown) {
						
						background-image: var(--error);
					}
					
					&:valid {
						
						background-image: var(--check);
					}
				}
			}
			
			input[type="checkbox"] {
				
				vertical-align: 2px;
			}
			
			.cert-warning {
				
				display: inline-block;
				font-size: 10px;
				opacity: .5;
			}
		}
	}
}

footer {
	
	text-align: right;
	padding: 15px 0 0;
}


//note(dgmid): dark theme

[data-theme="dark"] {
	
	header {
		
		color: #fff;
		background-color: var(--app-dark);
	}
}

//note(dgmid): user themes

[data-user="light"] {
	
	body { background-color: #F0F0F0; }
}

[data-user="dark"] {
	
	body { background-color: #383838; }
}
