
//note(@duncanmid): common / light theme

header {
	
	padding: 10px 40px;
	background-color: var(--app-color);
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.scroll {
	
	position: fixed;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

form {
	
	padding: 20px 40px 0;
	
	ul {
		
		list-style-type: none;
		
		li {
			
			padding-bottom: 10px;
			
			label {
				
				display: block;
				float: left;
				width: 80px;
				text-align: right;
				padding-right: 10px;
				font-size: 13px;
				line-height: 28px;
				
				&::after {
					
					content: ':';
				}
			}
			
			input {
				
				display: block;
				padding-left: 10px;
				padding-right: 28px;
				width: calc(100% - 80px);
				color: var(--input-color);
				background-color: var(--input-background);
				border: 1px solid var(--input-border);
				background-position: right 6px top 6px;
				background-repeat: no-repeat;
				
				transition: background-color .15s;
				
				&[required] {
				
					&:invalid:not(:placeholder-shown) {
						
						background-image: var(--error);
					}
					
					&:valid {
						
						background-image: var(--check);
					}
				}
			}
			
			input { height: 28px; }
		}
	}
}

footer {
	
	text-align: right;
	padding: 15px 0 0;
	
	button {
		
		padding: 3px 14px;
		border: 1px solid var(--button-border);
		background: var(--button);
		background-clip: border-box;
		color: var(--button-color);
		font-size: 13px;
		border-radius: 5px;
		
		&:active {
			
			color: var(--button-color-hover);
			background-image: var(--button-hover);
			border: 1px solid;
			border-image: var(--button-border-hover);
			border-image-slice: 1;
		}
	}
}


//note(@duncanmid): dark theme

[data-theme="dark"] {
	
	header {
		
		color: #fff;
	}
	
	footer {
		
		button {
			
			border-left: 0;
			border-right: 0;
			border-bottom: 0;
			
			&:active {
				
				border: 1px solid var(--button-border-hover);
				border-left: 0;
				border-right: 0;
				border-bottom: 0;
			}
		}
	}
}

//note(@duncanmid): user themes

[data-user="light"] {
	
	body { background-color: #F0F0F0; }
}

[data-user="dark"] {
	
	body { background-color: #383838; }
}
