
//note(@duncanmid): common / light theme

body {
	
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

header {
	
	height: 23px;
	background: var(--header);
	background-size: 100% 23px;
	background-position: left top;
	border-bottom: 1px solid var(--header-border);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-app-region: drag;
}

#time {
	
	display: block;
	color: var(--titlebar);
	font-size: 13px;
	height: 23px;
	line-height: 23px;
	font-weight: 400;
	text-align: center;
}

#frame {
	
	background-image: var(--texture);
	position: absolute;
	top: 23px;
	left: 0;
	right: 0;
	bottom: 0;
	
	transition: left .25s ease-out;
	
	&.slide { left: 200px; }
}

footer {
	
	width: 200px;
	border-right: 1px solid var(--dividers);
	background-color: var(--categories);
	position: absolute;
	top: 23px;
	left: -200px;
	bottom: 0;
	overflow-x: hidden; 
	overflow-y: scroll;
	
	transition: left .25s ease-out;
	
	&.slide { left: 0; }
	
	#cat-title {
		
		display: block;
		font-size: 12px;
		font-weight: 500;
		color: var(--text-light);
		padding: 10px;
	}
	
	ul:first-of-type { margin-bottom: 16px; }
	
	button {
		
		border: 0;
		border-radius: 0;
		width: 100%;
		padding: 0 10px 0 30px;
		text-align: left;
		color: var(--text);
		background-color: transparent;
		font-size: 14px;
		line-height: 24px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		transition: background-color .15s;
		
		&.selected {
			
			color: #fff;
			background-color: var(--accent);
		}
		
		&:focus { outline: none; }
	}
	
	#fixed-categories {
		
		button {
			
			background-position: left 8px center;
			background-repeat: no-repeat;
			
			&#cat-all	{ background-image: var(--all); }
			&#cat-fav	{ background-image: var(--favorite); }
			&#cat-none	{
				
				background-image: var(--none);
				background-position-x: 10px;
			}
		}
	}
	
	#categories {
		
		button {
			
			background-image: var(--category);
			background-position: left 8px center;
			background-repeat: no-repeat;
		}
	}
}

main {

	margin-left: 200px;
	padding: 0;
	height: calc(100vh - 23px);
	font-size: 16px;
	line-height: 1.4;
	overflow-y: scroll;
	position: relative;
	
	&::-webkit-scrollbar { width: 0 !important }
	
	#note {
		
		border: 0;
		background-color: transparent;
		resize: none;
	}
	
	.loader {
		
		position: absolute;
		top: 55px;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,0,0,.6) var(--texture) repeat center center;
		z-index: 1;
		
		.spinner {
			
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			
			background: var(--loader) no-repeat center center;
		}
	}
	
	#edit {
	
		position: fixed;
		right: 15px;
		bottom: 15px;
		width: 32px;
		height: 32px;
		background-color: var(--edit);
		background-position: center center;
		background-repeat: no-repeat;
		border: 1px solid var(--text);
		border-radius: 3px;
		background-image: var(--pencil);
		opacity: .5;
		z-index: 2;
		
		transition: all .15s ease-in-out;
	
		&:focus {
	
			opacity: 1;
			background-color: var(--app-color);
			border-color: transparent;
			outline: none;
		}
	
		&:hover {
		
			opacity: 1;
			background-color: var(--edit-hover);
			background-image: var(--pencil-white);
			border-color: transparent;
		}
		
		&:active {
			
			background-color: var(--edit-active);
			background-image: var(--pencil-white);
			border-color: transparent;
		}
	}
	
	#edit.editing {
		
		background-image: var(--eye);
		
		&:hover {

			background-image: var(--eye-white);
		}
		
		&:active {
			
			background-image: var(--eye-white);
		}
	}
}

aside {

	width: 200px;
	float: left;
	height: calc(100vh - 23px);
	border-right: 1px solid var(--dividers);
	position: relative;
	overflow-x: hidden; 
	overflow-y: scroll;
}

#divider {

	width: 5px;
	position: absolute;
	top: 0;
	right: -2px;
	bottom: 0;
	cursor: col-resize;
	z-index: 1000;
}

#sidebar {
	
	button {
		
		width: 100%;
		padding: 11px 0;
		display: block;
		border: 0;
		border-radius: 0;
		text-align: left;
		color: var(--text);
		background-color: transparent;
		position: relative;
		
		&::after {
			
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 25px;
			right: 0;
			height: 1px;
			background-color: var(--dividers);
		}
		
		span {
			
			display: block;
			padding-left: 25px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: var(--text);
			
			span {
				
				display: inline;
				padding-left: 0;
				color: var(--text);
			}
		}
		
		.side-title {
			
			font-size: 13px;
			font-weight: 700;
			padding-bottom: 2px;
			position: relative;
		}
		
		.side-text {
			
			font-size: 12px;
			
			.excerpt { color: var(--text-light); }
		}
		
		.side-cat {
			
			font-size: 12px;
			padding: 2px 0 0 44px;
			color: var(--text-light);
			background: var(--category) no-repeat left 25px top 4px;
			display: none;
		}
		
		&[data-favorite="true"] {
			
			.side-title::before {
				
				content: '';
				display: block;
				width: 14px;
				height: 14px;
				background: var(--favorite) no-repeat center;
				position: absolute;
				top: 0;
				left: 4px;
			}
		}
		
		&:focus {
			
			outline: none;
			background-color: var(--app-color-focus);
			
			&::after { display: none; }
		}
		
		&.selected {
			
			outline: none;
			background-color: var(--app-color);
			
			&::after { display: none; }
		}
		
		&.above-selected {
			
			&::after { display: none; }
		}
	}
	
	&.showcats {
		
		button {
			
			.side-cat { display: block; }
		}
	}
	
	&.hidecats {
		
		button {
			
			.side-cat { display: none; }
		}
	}
}

.CodeMirror {
	
	border: none;
	color: inherit;
	background: transparent;
	border-top: 1px solid var(--dividers);
	position: absolute;
	top: 54px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0 22px;
	
	.cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
		
		background: none;
		background-image: none;
		background-position: 0 bottom;
		background-repeat: repeat-x;
		background-size: 5px 2px;
	}
	
	&.spellcheck {
		
		.cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
			
			background-image: linear-gradient(to right, red 50%, transparent 50%);
		}
	}
}

.CodeMirror-code {
	
	margin-top: 22px;
}

.editor-toolbar {
	
	border: 0;
	border-radius: 0;
	height: 50px;
    margin-top: 3px;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	
	button {
		
		cursor: default;
		font-size: 15px;
		color: var(--text);
		transition: all .3s;
		
		&:hover {
			
			background-color: var(--toolbar-hover);
			border-color: var(--toolbar-border);
		}
		
		&.active {
			
			background-color: var(--app-color);
			border-color: var(--app-color);
		}
	}
	
	i.separator {
		
		border-left-color: var(--dividers);
		border-right-color: #fff;
	}
}

.editor-preview {
	
	padding: 22px;
	background-image: var(--texture);
}



//note(@duncanmid): retina

@media screen and (-webkit-min-device-pixel-ratio: 2) { 
		
	#frame,
	.editor-preview {
		
		background-image: var(--texture2);
		background-size: 100px 100px;
	}
}



//note(@duncanmid): dark theme

[data-theme="dark"] {
	
	footer {
		
		background-image: var(--texture2);
		background-size: 100px 100px;
		border-right: 1px solid var(--header-border);
	}
	
	main {
		
		#edit {
			
			border: 0;
			background-image: var(--pencil-white);
			opacity: .7;
			
			&:focus { background-image: var(--pencil); }
			
			&:hover { background-image: var(--pencil); }
			
			&:active { opacity: 1; }
		}
		
		#edit.editing {
			
			background-image: var(--eye-white);
			
			&:focus { background-image: var(--eye); }
			
			&:hover { background-image: var(--eye); }
			
			&:active { background-image: var(--eye); }
		}
	}
	
	aside {
		
		border-right: 1px solid var(--header-border);
		background-image: none;
		background-color: #1E1E1E;
	}
	
	#sidebar {
	
		button {
			
			&.selected {
				
				span { color: white; }
				
				.excerpt,
				.side-cat { color: var(--text-light); }
			}
		}
	}
	
	.editor-toolbar {
		
		i.separator {
			
			border-left-color: var(--header-border);
			border-right-color: var(--dividers);
		}
	}
	
	.CodeMirror {
		
		.CodeMirror-cursor {
		
			border-left: 1px solid white;
		}
	}
}
