
//note(@duncanmid): common / light theme

.CodeMirror-code {
	
	* { font-size: inherit !important; }
}

.editor-preview-active {
	
	user-select: text;
	font-weight: 400;
	width: 100%;
	
	h1, h2, h3, h4, h5, h6 {
		
		line-height: 1;
		margin: 1ex 0;
	}
	
	h1:first-of-type { margin-top: 0; }
	
	p, blockquote, ul, ol, pre, hr, dl {
		
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
	
	small { font-size: .8em }
	
	sup, sub { font-size: .6em; }
	
	sup { vertical-align: super; }
	sub { vertical-align: sub; }
	
	table {
		
		margin-top: 1.5em;
		margin-bottom: 2em;
		
		th, td { padding: .8em; }
	}
	
	h1, h2, h3, h4, h5, h6 { font-weight: 600; }
	
	b, strong { font-weight: 700; }
	
	i, em { font-style: italic; }
	
	h1 { font-size: 2.2em; }
	
	h2 { font-size: 1.8em; }
	
	h3 { font-size: 1.6em; }
	
	h4 { font-size: 1.4em; }
	
	h5 { font-size: 1.2em; }
	
	h6 { font-size: 1.1em; }
	
	blockquote {
		
		padding-left: 2ch;
		border-left: 0.2em solid var(--app-color);
	}
	
	ul {
		
		list-style-type: disc;
		margin-left: 2ch;
		
		ul { list-style-type: circle; }
	}
	
	ol {
		
		list-style-type: decimal;
		margin-left: 2ch;
	}
	
	li {
		
		margin-bottom: .2em;
	}
	
	dt {
		
		font-weight: 700;
		margin-top: .8em;
	}
	
	dd {
		
		margin-left: 2ch;
		display: list-item;
		list-style-type: disc;
	}
	
	code {
		
		color: var(--code-color);
		background-color: var(--code);
		padding-left: 1ch;
		padding-right: 1ch;
		font-family: 'Menlo', monospace;
		font-size: .9em;
		border-radius: 0.3em;
	}
	
	pre {
		
		background-color: var(--code);
		padding: 1.5ch 2ch;
		border-radius: 0.4em;
		overflow-x: scroll;
		
		code {
			
			background-color: transparent;
			padding: 0;
			
			white-space: pre;
		}
	}
	
	hr {
		
		border: 1px solid var(--code);
		border-top: 0;
	}
	
	a {
		
		color: var(--link);
		text-decoration: none;
		transition: color .15s;
		
		&:hover { color: var(--hover); }
		
		
		
		&:focus {
			
			outline: 4px solid -webkit-focus-ring-color;
			outline-style: auto;
		}
	}
	
	img {
		
		display: inline-block;
		max-width: 100%;
	}
	
	mark {
		
		color: var(--mark);
		background-color: var(--app-color);
	}
	
	table {
		
		thead {
			
			background-color: var(--table-head);
			font-weight: 700;
		}
		
		tbody {
			
			tr:nth-of-type(even) {
				
				background-color: var(--table-stripe);
			}
		}
		
		th, td {
			
			border-color: var(--table-border);
		}
	}
}

[data-theme="light"] {

	.cm-header { color: var(--md-yellow-dk); }
	.cm-formatting-header { color: var(--md-yellow-lt); }
	
	.cm-variable-2 { color: var(--md-orange-dk); }
	.cm-formatting-list { color: var(--md-orange-lt); }
	
	.cm-comment { color: var(--md-grey-dk); }
	.cm-formatting-code-block { color: var(--md-grey-lt); }
	
	.cm-quote { color: var(--md-pink-dk); }
	.cm-formatting-quote { color: var(--md-pink-lt); }
	
	.cm-hr { color: var(--md-indigo-dk); }
	
	.cm-tag { color: var(--md-khaki-dk); }
	.cm-bracket { color: var(--md-khaki-lt); }
	
	.cm-link { color: var(--md-purple-dk) }
	.cm-formatting-link { color: var(--md-purple-lt) }
	
	.cm-url { color: var(--md-blue-dk) }
	.cm-formatting-link-string { color: var(--md-blue-lt) }

	.cm-formatting-image { color: var(--md-purple-lt); }
	
	.cm-em { color: var(--md-cyan-dk); }
	.cm-formatting-em { color: var(--md-cyan-lt); }
	
	.cm-strong { color: var(--md-aqua-dk); }
	.cm-formatting-strong { color: var(--md-aqua-lt); }
	
	.cm-strikethrough { color: var(--md-red-dk) !important; }
	.cm-formatting-strikethrough { color: var(--md-red-lt) !important; }
}


//note(@duncanmid): dark theme

[data-theme="dark"] {
	
	.editor-preview-active {
		
		font-weight: 300;
	}
	
	.CodeMirror-focused .CodeMirror-selected {
    	
    	background: rgba(255,255,255,.2);
	}
	
	.cm-header { color: var(--md-yellow-lt); }
	.cm-formatting-header { color: var(--md-yellow-dk); }
	
	.cm-variable-2 { color: var(--md-orange-lt); }
	.cm-formatting-list { color: var(--md-orange-dk); }
	
	.cm-comment {
		
		color: var(--md-grey-lt);
		background-color: rgba(255,255,255,.1);
	}
	.cm-formatting-code-block { color: var(--md-grey-dk); }
	
	.cm-quote { color: var(--md-pink-lt); }
	.cm-formatting-quote { color: var(--md-pink-dk); }
	
	.cm-hr { color: var(--md-indigo-lt); }
	
	.cm-tag { color: var(--md-khaki-lt); }
	.cm-bracket { color: var(--md-khaki-dk); }
	
	.cm-link { color: var(--md-purple-lt) }
	.cm-formatting-link { color: var(--md-purple-dk) }
	
	.cm-url { color: var(--md-blue-lt) }
	.cm-formatting-link-string { color: var(--md-blue-dk) }
	
	.cm-formatting-image { color: var(--md-purple-dk); }
	
	.cm-em { color: var(--md-cyan-lt); }
	.cm-formatting-em { color: var(--md-cyan-dk); }
	
	.cm-strong { color: var(--md-aqua-lt); }
	.cm-formatting-strong { color: var(--md-aqua-dk); }
	
	.cm-strikethrough { color: var(--md-red-lt) !important; }
	.cm-formatting-strikethrough { color: var(--md-red-dk) !important; }
}
