
:root {
	
	// common
	
	--text:					#454545;
	--text-light:			rgba(69,69,69,.7);
	--background:			#ffffff;
	--main:					#ffffff;
	--app-color-focus:		rgba(254,226,152,.5);
	--dividers:				#e6e6e6;
	--header-border:		#b5b4b5;
	--accent:				#3478f6;
	--accent-light:			#3279FF;
	--accent-dark:			#004EE1;
	
	// toolbar
	
	--toolbar-hover:		rgba(0,0,0,.05);
	--toolbar-border:		rgba(69,69,69,.5);
	
	// edit
	
	--edit: 				#ffffff;
	--edit-hover:			rgba(69,69,69,.5);
	--edit-active:			rgba(69,69,69,.8);
	
	// modal
	
	--window:				#ededed;
	--input-color:			#000000;
	--input-border:			#cccccc;
	--input-background:		#ffffff;
	--select:				#ffffff;
	--select-border:		#b2b2b2;
	
	// buttons
	
	--button:				#ffffff;
	--button-color:			rgba(0,0,0,.85);
	--button-border:		#c0c0c0;	
	
	// note
	
	--link:					#1e90ff;
	--hover:				#005ee0;
	--code:					#ebebeb;
	--code-color:			#777777;
	--mark:					#000000;
	--table-border:			#dddddd;
	--table-head:			#ffffff;
	--table-stripe:			rgba(69,69,69,.03);
	
	// editor
	
	--code-red-lt:			#fb434a;
	--code-red-dk:			#af2e33;
	--code-orange-lt:		#ffa657;
	--code-orange-dk:		#a85710;
	--code-yellow-lt:		#fecb57;
	--code-yellow-dk:		#b18d3c;
	--code-aqua-lt:			#50e3c2;
	--code-aqua-dk:			#379e87;
	--code-green-lt:		#18bf64;
	--code-green-dk:		#108545;
	--code-khaki-lt:		#63a35c;
	--code-khaki-dk:		#457140;
	--code-cyan-lt:			#3d9fc7;
	--code-cyan-dk:			#2a6e8a;
	--code-blue-lt:			#007cff;
	--code-blue-dk:			#0056b2;
	--code-indigo-lt:		#0058b3;
	--code-indigo-dk:		#003d7c;
	--code-purple-lt:			#9013fe;
	--code-purple-dk:		#640db1;
	--code-pink-lt:			#ff42f6;
	--code-pink-dk:			#b22eab;
	--code-grey-lt:			#acbbd0;
	--code-grey-dk:			#788291;
}


[data-theme^="dark"] {
	
	// common
	
	--text:					#dcdcdc;
	--text-light:			rgba(255,255,255,.6);
	--background:			#1d1d1d;
	--main:					rgba(30,30,30,.70);
	--app-color-focus:		#343434;
	--dividers:				#484848;
	--header-border:		#000000;
	
	// toolbar
	
	--toolbar-hover:		rgba(255,255,255,.05);
	--toolbar-border:		rgba(255,255,255,.3);
	
	// edit
	
	--edit: 				#1e1e1e;
	--edit-hover:			rgba(255,255,255.5);
	--edit-active:			rgba(255,255,255.8);
	
	// modal
	
	--window:				#343434;
	--input-color:			rgba(255,255,255,.75);
	--input-border:			rgba(255,255,255,.1);
	--input-background:		rgba(255,255,255,.05);
	--select:				#616161;
	--select-border:		#7f7f7f;
	
	// buttons
	
	--button:				#616161;
	--button-color:			rgba(255,255,255,.85);
	--button-border:		#7f7f7f;
	
	// note
	
	--code:					#1e1e1e;
	--code-color:			#ffffff;
	--mark:					#ffffff;
	--table-border:			#484848;
	--table-head:			#484848;
	--table-stripe:			rgba(255,255,255,.03);
}
